{% extends 'blog.template.html.twig' %}
{% block body %}
  <div class="container">
  <div class="content-apropos">
     <div class="text-center">
       <img src="../img/cheikh.jpg" width="200" height="200" class="img-circle"><br>
         <h3>Cheikh Ahmed Tidiane Kane </h3>
         <p>Etudiant en sécurité informatique </p>
     </div>

  </div>
  </div>
{% endblock %}